* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: white;
}
body
{

    background-color: black;
}
/*=====Подраздел promo=====*/
.promo {
    /*padding-top: 200px;
    padding-bottom: 200px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url(../img/glav.jpg);
    background-size: cover;
    margin: 0;
    color:white;
}
.promo h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 40px;
}
.promo p {
    font-family: 'Poiret One', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
.text-1 {
    background-color: rgba(91, 42, 250, 0.3);
    border:3px black  dashed;
    border-radius: 20px;
    padding: 10px;
}
/*menu*/
.center
{
  margin-left: 200px;
  margin-right: 200px;
}
nav ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:0; /*делаем отступ сверху*/
  background: black; /*добавляем фон всему меню*/
  height: 50px; /*задаем высоту*/
}
nav a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background: black; /*добавляем фон к пункту меню*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 50px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
  border-radius: 10px;

}
nav a:hover {
  color: grey;/*добавляем эффект при наведении*/
}
nav li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}

#one {
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
#one:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

#one:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
/*menu*/

/*main*/

img
{

}
main
{
    margin-top: 100px;
    margin-right: 140px;
    margin-left: 140px;
    margin-bottom: 100px;
}

/*main*/

.features-list1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  font-size: 16px;
  font-family: cursive;
}



.features-list1 li::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
}




/* Общие стили */
*, *:after, *:before { 
    border-box; 
    box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
    content: ''; 
    display: table; 
}
.clearfix:after { 
    clear: both; 
}
.hover-text-one {
    overflow: hidden;
    margin: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}
.hover-text-one figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    background: #527c82;
    text-align: center;
    cursor: pointer;
}
.hover-text-one figure img {

    display: block;
    min-height: 100%;
    opacity: 0.8;
}
.hover-text-one figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
    pointer-events: none;
}
.hover-text-one figure figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hover-text-one figure h3 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.hover-text-one figure h3 span {
    font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
    margin: 0;
}
.hover-text-one figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-two figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}
figure.effect-text-two h3 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #f66d52 !important;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
figure.effect-text-two figcaption::before,
figure.effect-text-two p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-text-two p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}
figure.effect-text-two:hover h3 {
    color: #fff;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-text-two:hover figcaption::before ,
figure.effect-text-two:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
     





footer {
    background-color: #1b1545;
}
.footer-copyright
{
    margin-left: 140px;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #bbbbff;

}
.social
{
    margin-right: 140px;
}
